[General]
Show_Title=false
Show_Labels=false
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
Font_Size=small
Font_Size_Numerical=1
Lines_Size=2
Update_Interval=10
Exec_Command=true
Show_Units=true
Small_Spacings=true
Command_Name=xfce4-sensors
Number_Chips=3
Suppress_Hddtemp_Message=true
Suppress_Tooltip=true
Preferred_Width=391
Preferred_Height=373

[Chip0]
Name=k10temp-c3
Number=0

[Chip0_Feature0]
Id=0
Address=0
Name=temp1
Color=#00B000
Show=true
Min=0.00
Max=51.50

[Chip1]
Name=radeon-8
Number=1

[Chip1_Feature0]
Id=0
Address=0
Name=temp1
Color=#00B000
Show=true
Min=0.00
Max=51.00

[Chip2]
Name=ACPI
Number=2

